<div class="contentT m-5">
    <div class="card border-secondary shadow ">
        <div class="card-header text-center" style="font-size: 1.3vw;">
            Módulo de Videos
        </div>
        <div class="card-body text-secondary">
            <div class="mr-3">
                <a class="btn btn-secondary float-right" style="margin-left: 1% !important;" target="_blank" href="http://agcollege.edu.mx/literaturas/62/4/Manual_registro_en_videoteca.pdf">
                    <mat-icon class="mr-2" style="color: white !important;">cloud_download</mat-icon><span>Descargar Manual</span>
                </a>
                <button class="btn btn-success float-right" (click)="openModal(0)">
                  <mat-icon class="mr-2" style="color: white !important;">cloud_upload</mat-icon><span>Agregar Video</span> 
                </button>
            </div>
            <div style="margin-top: 5% !important;">
                <ng2-smart-table [settings]="settings" [source]="registros" (custom)="onCustom($event)"></ng2-smart-table>
            </div>
        </div>
    </div>
</div>

<ng-template #links let-modal [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{titulo_videos}}</h4>
        <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #formularioP="ngForm" id="agregar-video">
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <span>Planes de estudio:</span>
                    <select class="form-control" required id="id_plan_estudio" name="id_plan_estudio" (change)="getMaterias(1,$event.target.value)" [(ngModel)]="video.id_plan_estudio">
                        <option value="undefined" disabled selected>Selecciona un plan de estudio</option>
                        <option [value]="item.id" *ngFor="let item of programas">{{item.nombre_corto}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <span>Servicio:</span>
                    <select class="form-control" required id="servicio" name="servicio" [(ngModel)]="video.servicio">
                        <option value="video" >video</option>
                        <option value="pdf" >pdf</option>
                        <option value="audio" >audio</option>
                    </select>
                </div>
                <div class="col-4">
                    <span>Título:</span>
                    <input type="text" class="form-control" required id="titulo_video" name="titulo_video" [(ngModel)]="video.titulo_video" placeholder="Título" (keypress)="validText.onlyTextAndNumers($event)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <span>URL del {{video.servicio}}:</span>
                    <input type="text" class="form-control" required id="url_video" name="url_video" [(ngModel)]="video.url_video" placeholder="URL del {{video.servicio}}">
                </div>
            </div>
            <div class="row" *ngIf="video.servicio == 'video'">
                <div class="col-12">
                    <br>
                    <span>Código de inserción:</span>
                    <input type="text" [required]="video.servicio == 'video'" class="form-control" id="html_iframe" name="html_iframe" [(ngModel)]="video.html_iframe" placeholder="iframe">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <span>Descripcion:</span>
                    <textarea class="form-control" required id="descripcion" name="descripcion" [(ngModel)]="video.descripcion" style="height: 100px !important;max-height: 100px !important;" placeholder="Descripción del {{video.servicio}}"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <span>Tipo:</span>
                    <select class="form-control" required id="tipo" name="tipo" [(ngModel)]="video.tipo">
                        <option value="1">Por materia</option>
                        <option value="2">Por categoria</option>
                    </select>
                </div>
                <div class="col-6" *ngIf="video.tipo == 1">
                    <span>Materia:</span>
                    <select class="form-control" [required]="video.tipo == 1" id="id_materia" name="id_materia" [(ngModel)]="video.id_materia" >
                        <option value="undefined" disabled selected>Selecciona una materia</option>
                        <option [value]="item.id_moodle" *ngFor="let item of materias2">[Periodo {{item.periodo}}] {{item.nombre}}</option>
                    </select>
                </div>
                <div class="col-6" *ngIf="video.tipo == 2">
                    <span>Categoría:</span>
                    <select class="form-control" [required]="video.tipo == 2" id="id_categoria" name="id_categoria" [(ngModel)]="video.id_categoria" >
                        <option value="undefined" disabled selected>Selecciona una categoría</option>
                        <option [value]="item.id" *ngFor="let item of categorias">{{item.categoria}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="!formularioP.valid" (click)="guardar(modal,links);">
                <mat-icon class="mr-2" style="color: white !important;" >save</mat-icon>Guardar
            </button>
        </div>
    </form>
</ng-template>