<div class="contentT">
    <div class="titulo">
      <h2 style="color: black;">Módulo de literaturas</h2>
    </div>
      <div class="row">
        <div class="col-3 ">
          <span>Filtrar por:</span>
          <select class="form-control" [(ngModel)] ="tipofiltro" (change)="getLiteraturas(tipofiltro,{id_plan_estudio: ''})">
            <option value="1">Nombre</option>
            <option value="2">Plan de estudio</option>
            <option value="3">Fecha de modificación</option>
          </select>
        </div>
        <div class="col-3" *ngIf="tipofiltro != '2'">
          <span>Buscar:</span>
          <input *ngIf="tipofiltro == '1'" type="text" [(ngModel)]="filtrotxt" style="color: black;"  class="form-control" id="buscar" placeholder="Buscar" (keyup)="getLiteraturas(tipofiltro,$event.target.value)">
          <input *ngIf="tipofiltro == '3'" type="date" [(ngModel)]="date" class="form-control" id="buscar" placeholder="Buscar" (change)="getLiteraturas(tipofiltro,$event.target.value)">
        </div>
        <div class="col-3" *ngIf="tipofiltro == '2'">
          <span>Planes de estudio:</span>
          <select class="form-control" (change)="getMaterias(0,$event.target.value)">
            <option [value]="0">Todos los planes de estudio</option>
            <option [value]="item.id" *ngFor="let item of programas">{{item.nombre_corto}}</option>
          </select>
        </div>
        <div class="col-3" *ngIf="tipofiltro == '2'">
          <span>Materias:</span>
          <select class="form-control"  (change)="getLiteraturas(tipofiltro,$event.target.value)">
            <option [value]="{id_moodle: 0, nombre: '', id_plan_estudio: 0}">Todas las materias</option>
            <option [value]="item | json" *ngFor="let item of materias">[Periodo {{item.periodo}}] {{item.nombre}}</option>
          </select>
        </div>
        <div class="col-5" style="display: flex;align-items: center;">
          <button class="btn btn-success" (click)="openModal(docs)">
            <mat-icon class="mr-2">cloud_upload</mat-icon><span>Subir Archivos</span> 
          </button> 
          <a class="btn btn-secondary ml-4" href="http://literaturas-env.eba-mp2evwet.us-east-2.elasticbeanstalk.com/literaturas/streamdoc/0/0/MANUAL PARA EL USO CORRECTO.pdf">
            <mat-icon class="mr-2">cloud_download</mat-icon><span>Descargar Manual</span> 
          </a>         
        </div>
      </div>
    <div>
      <table class="table table-hover table-bordered table-striped">
        <thead class="headerT ">
          <tr>
            <th width="300">Nombre</th>
            <th>Plan Estudio</th>
            <th>Materia</th>
            <th>Modificación</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody *ngIf="registros">
          <tr class="itemP" *ngFor="let dato of registros | paginate: { itemsPerPage: 10, currentPage: pagination }; let i = index" >
            <td>{{dato.nombre_original}}</td>
            <td>{{dato.nombre_plan_estudio}}</td>
            <td>{{dato.nombre_materia}}</td>
            <td class="text-center">{{dato.fecha_modificacion}}</td>
            <td class="text-center">
              <!--<button type="button" class="btn btn-danger mr-2" (click)="guardar(modal,links);">
                <mat-icon>create</mat-icon>
              </button>-->
              <a href="http://literaturas-env.eba-mp2evwet.us-east-2.elasticbeanstalk.com/literaturas/streamdoc/{{dato.id_plan_estudio}}/{{dato.idmoodle_materia}}/{{dato.nombre_archivo}}" class="btn btn-primary mr-2">
                <mat-icon>cloud_download</mat-icon>
              </a>
              <button type="button" class="btn btn-info" (click)="copyMessage(dato.ruta_publica);">
                <mat-icon>link</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!registros">
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
        </tbody>
      </table>
      <div class="col-12 paginationp">
        <pagination-controls 
          (pageChange)="pagination = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>    
      </div>
    </div>
  </div>

  <ng-template #docs let-modal [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-header" style="background: #3F51B5;color: white;">
      <h4 class="modal-title" id="modal-basic-title">{{titulo_literatura}}</h4>
      <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');cerrarModal();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <span>Planes de estudio:</span>
          <select class="form-control" (change)="getMaterias(1,$event.target.value)" [(ngModal)]="mp_estuadios">
            <option value="0" disabled selected>Selecciona un plan de estudio</option>
            <option [value]="item.id" *ngFor="let item of programas">{{item.nombre_corto}}</option>
          </select>
        </div>
        <div class="col-6">
          <span>Materia:</span>
          <select class="form-control" [(ngModel)]="obj_detalle">
            <option value="0" disabled selected>Selecciona una materia</option>
            <option [value]="item | json" *ngFor="let item of materias2">[Periodo {{item.periodo}}] {{item.nombre}}</option>
          </select>
        </div>
      </div>
      <br>
      <ngx-dropzone (change)="onSelect($event)" accept="application/pdf" >
        <ngx-dropzone-label>
            Suelte sus archivos (*.pdf) o haga clic en el navegador
        </ngx-dropzone-label>                                
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)"> 
            <ngx-dropzone-label style=" white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 90%;">
                {{ f.name }}
            </ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="guardar(modal,links);">
        <mat-icon class="mr-2">save</mat-icon>Guardar
      </button>
    </div>
  </ng-template>

  <ng-template #links let-modal [config]="{backdrop: 'static',  keyboard: false}" >
    <div class="modal-header" style="background: #3F51B5;color: white;">
      <h4 class="modal-title" id="modal-basic-title">Literaturas Agregadas</h4>
      <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');cerrarModal();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-hover table-bordered table-striped">
        <thead class="headerT ">
          <tr>
            <th width="300">Nombre</th>
            <th width="300">URL</th>
            <th>Estado</th>
            <!--<th>Opciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let dato of listalinks | paginate: { itemsPerPage: 10, currentPage: pagination2 }; let i = index" [style.background]="dato.encontrado == 1 ? '#ffa3a3' : ''">
            <td>{{dato.nombre_original}}</td>
            <td>{{dato.ruta_publica}}</td>
            <td *ngIf="dato.encontrado == 1">Ya existe</td>
            <td *ngIf="dato.encontrado == 0">Guardado</td>
            <!--<td>
              <button class="btn btn-success" *ngIf="dato.encontrado == 1">
                <mat-icon class="mr-2">cloud_upload</mat-icon><span>Actualizar</span> 
              </button>   
            </td>-->
          </tr>
        </tbody>
      </table>
      <div class="col-12 paginationp">
        <pagination-controls 
          (pageChange)="pagination2 = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>    
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="copyMessage(copiatodo);">
        <mat-icon class="mr-2">link</mat-icon>Copiar Todo
      </button>
    </div>
  </ng-template>