<div class="contentT m-5">
    <div class="card border-secondary shadow ">
        <div class="card-header text-center" style="font-size: 1.3vw;">
            Módulo de Biblioteca Virtual
        </div>
        <div class="card-body text-secondary">
            <div class="mr-3">
              <a class="btn btn-secondary float-right" style="margin-left: 1% !important;" href="https://agcollege.edu.mx/literaturas/47/4/MANUAL_PARA_EL_USU_CORRECTO_DEL_MODULO_DE_BIBLIOTECA_VIRTUAL.pdf" target="_blank">
                  <mat-icon class="mr-2">cloud_download</mat-icon><span>Descargar Manual</span>
              </a>
              <button class="btn btn-success float-right" (click)="openModal(subirLectura, 1)">
                <mat-icon class="mr-2">cloud_upload</mat-icon><span>Subir Lectura</span>
              </button>
            </div>
            <div style="margin-top: 5% !important;width: 100%;">
                <ng2-smart-table [settings]="settings" [source]="registros" (custom)="onCustom($event)"></ng2-smart-table>
            </div>
        </div>
    </div>
  </div>
  
  <ng-template #subirLectura let-modal [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{titulo_literatura}}</h4>
        <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form id="formLectura">
          <div class="row">
            <div class="col-12">
              <span>Título:</span>
              <input class="form-control" type="text" id="titulo" name="titulo" [(ngModel)]="lectura.titulo">
            </div>
          </div>
        </form>
        <br>
        <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>
                {{ messageArchivos }}
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove()">
                <ngx-dropzone-label style=" white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 90%;">
                    {{ f.name }}
                </ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="guardar(modal);">
        <mat-icon class="mr-2">save</mat-icon>Guardar
      </button>
    </div>
  </ng-template>
  