<div class="contentT m-5">
    <div class="card border-secondary shadow ">
        <div class="card-header text-center" style="font-size: 1.3vw;">
            Módulo de Encuestas
        </div>
        <div class="card-body text-secondary">
            <form [formGroup]="formBusqueda" novalidate>
                <div class="row">
                    <div class="col-2">
                        <div class="float-left">
                            <span>Plan de estudio:</span>
                            <select class="form-control" formControlName="id_plan_estudio">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option [value]="programa.id" *ngFor="let programa of programas">{{ programa.nombre_corto }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <span>Datos:</span>
                        <textarea class="form-control" type="text" rows="4" formControlName="datos" (keypress)="onKeypressEvent($event)"></textarea>
                    </div>
                    <div class="col-3">
                        <div class="mr-4 mt-4">
                            <button class="btn btn-success" [disabled]="formBusqueda.invalid" (click)="buscarAlumnos()">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -60px;">
                    <div class="col-2">
                        <div class="float-left">
                            <span>Realizar búsqueda por:</span>
                            <select class="form-control" formControlName="tipo_busqueda">
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option [value]="tipo.id" *ngFor="let tipo of tipos_busqueda">{{ tipo.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="datos.mostrar" class="contentT m-5">
    <div class="card border-secondary shadow ">
        <div class="card-header text-center" style="font-size: 1.3vw;">
            Asignación de encuestas
        </div>
        <div class="card-body text-secondary">
            <div class="row">
                <div class="col-4">
                    <div class="list-group">
                        <div class="list-group-item">
                          <h5 class="mb-1">Datos de origen:</h5>
                          <p class="mb-1">{{ datos.datos_origen }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="list-group">
                        <div class="list-group-item">
                          <h5 class="mb-1">Datos encontrados:</h5>
                          <p class="mb-1">{{ datos.datos_encontrados }} / {{ datos.datos_origen }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="list-group">
                        <div class="list-group-item">
                          <h5 class="mb-1">Datos faltantes:</h5>
                          <p class="mb-1">{{ datos.datos_faltantes }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="margin-top: 10px;">
                    <div class="float-left">
                        <span>Encuestas:</span>
                        <select class="form-control" id="id_encuesta" name="id_encuesta" [(ngModel)]="encuesta">
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option [ngValue]="e" *ngFor="let e of encuestas">{{ e.titulo }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div style="margin-top: 32px;">
                        <button class="btn btn-success" (click)="asignarEncuesta()">
                            Asignar
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5% !important; width: 100%;">
                <ng2-smart-table [settings]="settings" [source]="registros" (custom)="onCustom($event)"></ng2-smart-table>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mr-4 mt-4 float-right">
                        <button class="btn btn-info" style="background: #172441;" (click)="guardarCambios()" [disabled]="boton">
                            Guardar cambios
                        </button>
                    </div>
                    <div class="mr-4 mt-4 float-right">
                        <button class="btn" (click)="salirAsignacion(1)">
                            Salir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>