<div class="contentT m-5">
  <div class="card border-secondary shadow ">
      <div class="card-header text-center" style="font-size: 1.3vw;">
          Módulo de Citas
      </div>
      <div class="card-body text-secondary">
          <div class="mr-3">
              <button class="btn btn-success float-right" (click)="openModal(agregarNuevaCita)">
                <mat-icon class="mr-2">calendar_today</mat-icon><span>Agregar nueva cita</span>
              </button>
          </div>
          <div style="margin-top: 5% !important;width: 100%;">
              <ng2-smart-table [settings]="settings" [source]="registros" (custom)="onCustom($event)"></ng2-smart-table>
          </div>
      </div>
  </div>
</div>

<ng-template #agregarNuevaCita let-modal [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar nueva cita</h4>
      <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formCita" (ngSubmit)="validarCita(1)" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <span>Número de empleado:</span>
          <input class="form-control" type="text" formControlName="numero_empleado" (change)="getAlumno()">
        </div>
        <div class="col-6">
          <span>Programa:</span>
          <select class="form-control" formControlName="plan_estudio" (change)="getAlumno()">
            <option value="">Selecciona una opción</option>
            <option [value]="programa.id" *ngFor="let programa of programas">{{programa.nombre_corto}}</option>
          </select>
        </div>
      </div>
      <div class="row alumno" *ngIf="bandera.alumno">
        <div class="col-12">
          <h5>{{bandera.text}}</h5>
        </div>
      </div>
      <div class="row loading" *ngIf="bandera.loading">
        <div class="col-12">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
      <div *ngIf="bandera.formulario">
        <div class="row">
          <div class="col-12">
            <span>Nombre del alumno:</span>
            <input class="form-control" type="text" formControlName="nombre_alumno" [readonly]="true">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Motivo de la llamada:</span>
            <select class="form-control" formControlName="motivo">
              <option value="">Selecciona una opción</option>
              <option [value]="motivo.id" *ngFor="let motivo of motivos">{{motivo.descripcion}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Contacto:</span>
            <select class="form-control" formControlName="contacto">
              <option value="">Selecciona una opción</option>
              <option [value]="contacto.telefono" *ngFor="let contacto of contactos">{{contacto.telefono}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Horario:</span>
            <select class="form-control" formControlName="horario">
              <option value="">Selecciona una opción</option>
              <option [value]="horario.id" *ngFor="let horario of horarios">{{horario.descripcion}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Estatus de la cita:</span>
            <select class="form-control" formControlName="estatus" (change)="validarEstatus(1)">
              <option value="">Selecciona una opción</option>
              <option [value]="estatu.id" *ngFor="let estatu of estatus">{{estatu.descripcion}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>Consejero:</span>
            <select class="form-control" formControlName="consejero" (change)="validarEstatus(1)">
              <option value="">Selecciona una opción</option>
              <option [value]="consejero.id" *ngFor="let consejero of consejeros">{{consejero.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="formCita.invalid" class="btn btn-success">
        <mat-icon class="mr-2">save</mat-icon>Guardar
      </button>
    </div>
  </form>
</ng-template>

<ng-template #asignarEstatusConsejero let-modal [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Asignar Estatus / Consejero</h4>
      <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formAsignacion" (ngSubmit)="validarCita(2)" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <span>Nombre del alumno:</span>
          <input class="form-control" type="text" formControlName="nombre_alumno" [readonly]="true">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Motivo de la llamada:</span>
          <input class="form-control" type="text" formControlName="motivo" [readonly]="true">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Detalle:</span>
          <textarea class="form-control" name="textarea" rows="3" cols="20" formControlName="detalle" [readonly]="true"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Estatus:</span>
          <select class="form-control" formControlName="estatus" (change)="validarEstatus(2)">
            <option value="">Selecciona una opción</option>
            <option [value]="estatu.id" *ngFor="let estatu of estatus2">{{estatu.descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Consejero asignado:</span>
          <select class="form-control" formControlName="consejero" (change)="validarEstatus(2)">
            <option value="">Selecciona una opción</option>
            <option [value]="consejero.id" *ngFor="let consejero of consejeros">{{consejero.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span>Comentarios:</span>
          <textarea class="form-control" name="textarea" rows="10" cols="20" formControlName="comentarios"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="formAsignacion.invalid" class="btn btn-success">
        <mat-icon class="mr-2">save</mat-icon>Guardar
      </button>
    </div>
  </form>
</ng-template>

<ng-template #historialMovimientos let-modal [config]="{backdrop: 'static', keyboard: false}">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Historial de movimientos</h4>
      <button type="button" style="color: white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div style="padding: 35px; width: 100%;">
    <ng2-smart-table [settings]="settings_movimientos" [source]="movimientos" (custom)="onCustom($event)"></ng2-smart-table>
  </div>
</ng-template>