<div class="contentT  m-5" style="margin-top: 1% !important;">
    <div class="card border-secondary shadow">
        <div class="card-header text-center" style=" background:#032440;color: white;">
            Promedio de materias
        </div>
        <div class="card-body text-secondary">
            <div style="margin-top: 1% !important;">
                <form [formGroup]="formReporte">
                    <div class="row">
                        <!-- Primera fila: Plan de estudios -->
                        <div class="col-12">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Plan de estudios</mat-label>
                                <mat-select [(value)]="plan" (selectionChange)="cambiarPlan($event.value)">
                                    <mat-option *ngFor="let plan of planes" [value]="plan.id">
                                        {{ plan.nombre_corto }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                
                        <!-- Segunda fila: Fecha inicio y fin -->
                        <div class="col-3">
                            <span>Fecha inicio:</span>
                            <input class="form-control" type="date" formControlName="fecha_inicio">
                        </div>
                        <div class="col-3">
                            <span>Fecha fin:</span>
                            <input class="form-control" type="date" formControlName="fecha_fin" max="{{fecha_actual}}">
                        </div>
                
                        <!-- Tercera fila: Botones -->
                        <div class="col-6 mt-3 d-flex">
                            <button class="btn btn-info d-flex align-items-center mr-3" (click)="generarReporte()">
                                <mat-icon class="mr-2">description</mat-icon>
                                <span>Generar Reporte Excel</span>
                            </button>
                            <button class="btn btn-info d-flex align-items-center" (click)="cambiarGrafica()">
                                <mat-icon class="mr-2">description</mat-icon>
                                <span>Generar Gráfica</span>
                            </button>
                        </div>
                    </div>
                </form>
                <br><br>
               <!--  <div class="row justify-content-center">
                    <mat-form-field appearance="fill" class="col-6">
                        <mat-label>Plan de estudios</mat-label>
                        <mat-select [(value)]="plan"(selectionChange)="cambiarPlan($event.value)">
                            <mat-option *ngFor="let plan of planes" [value]="plan.id" >
                                {{plan.nombre_corto}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>  
                    
                    <form [formGroup]="formReporte">
                        <div class="row" >
                          <div class="col-3">
                            <span>Fecha inicio:</span>
                            <input class="form-control" type="date" formControlName="fecha_inicio">
                          </div>
                          <div class="col-3">
                            <span>Fecha fin:</span>
                            <input class="form-control" type="date" formControlName="fecha_fin" max="{{fecha_actual}}">
                          </div>
                          <div class="col-6" style="margin-top: 22px;">
                            <button class="btn btn-info"(click)="generarReporte()"  >
                                <mat-icon class="mr-2">description</mat-icon><span>Generar Reporte Excel</span>
                              </button>
                              <button class="btn btn-info"(click)="cambiarGrafica()" style="margin-left: 100px; display: block;">
                                <mat-icon class="mr-2">description</mat-icon><span>Generar Grafica</span>
                              </button>
                          </div>
                        </div>
                      </form>
                     
                </div> -->
                
                <div class="row justify-content-center" *ngIf="promedio != 0">
                    <div class="col-xl-12 col-g-12 col-md-12 col-sm-12 col-12 ">
                        <span class="p-float-label">
                            <p-chart type="bar" [data]="data" [options]="options_grafica"
                                [style]="{'width':'100%'}"></p-chart>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
